*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}
.home-welcome-heading {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.home-welcome-heading__part {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: rgba(60, 70, 78, 0.9);
}
.home-welcome-heading__part:not(:last-child) {
  margin-bottom: 1.5rem;
}
.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  color: #626f76;
}
.heading-secondary {
  font-size: 2.5rem;
  color: #626f76;
}
.heading-tertiary {
  font-size: 2rem;
  color: #626f76;
}
.paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #626f76;
}
.paragraph--right-padding {
  padding-right: 10rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-large {
  margin-bottom: 3rem !important;
}
.u-center-text {
  text-align: center !important;
}
.header {
  height: 6rem;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(60, 70, 78, 0.8);
}
.header--scrollable {
  position: fixed;
  background-image: linear-gradient(rgba(60, 70, 78, 0.8), rgba(60, 70, 78, 0.8)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../media/img/CodeBackground.jpg);
  background-size: cover;
}
.header__content {
  height: 100%;
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  font-size: 1.6rem;
  text-align: center;
  background-color: #353f47;
  color: #7d8c96;
  padding: 1rem;
}
.home-link:link,
.home-link:visited {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.header-nav ul {
  display: flex;
  list-style: none;
}
.header-nav__item:not(:last-child) {
  margin-right: 1.5rem;
}
.header-nav__link:link,
.header-nav__link:visited {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  transition: all 0.1s;
}
.header-nav__link:hover,
.header-nav__link--active {
  border-color: #4bcaff !important;
  color: #4bcaff !important;
}
.home-welcome-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../media/img/CodeBackground.jpg);
  background-size: cover;
}
.home-welcome-section__content {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article-page {
  display: flex;
  margin-top: 6rem;
}
.article-page__nav-side {
  flex: 0 0 28rem;
  background-color: #4bcaff;
}
.article-page__content-side {
  flex: 1;
}
.article-page__content {
  max-width: 170rem;
  margin: 0 auto;
  padding: 3rem;
}
