*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}
.home-welcome-heading {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.home-welcome-heading__part {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: rgba(60, 70, 78, 0.9);
}
.home-welcome-heading__part:not(:last-child) {
  margin-bottom: 1.5rem;
}
.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  color: #626f76;
}
.heading-secondary {
  font-size: 2.5rem;
  color: #626f76;
}
.heading-secondary span {
  position: relative;
  bottom: 6.4rem;
}
.heading-tertiary {
  font-size: 2rem;
  color: #626f76;
}
.paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #626f76;
}
.paragraph--right-padding {
  padding-right: 10rem;
}
.unordered-list {
  list-style-position: inside;
  font-size: 1.6rem;
  color: #626f76;
}
.unordered-list__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.anchor:link,
.anchor:visited {
  font-weight: 700;
  color: #00a1e4;
  text-decoration: none;
  transition: all 0.1s;
}
.anchor:hover {
  color: #18bbff;
}
.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-large {
  margin-bottom: 3rem !important;
}
.u-center-text {
  text-align: center !important;
}
.green-span {
  color: #12b620;
}
.light-green-span {
  color: #88e720;
}
.orange-span {
  color: #d68c03;
}
.light-orange-span {
  color: #e9b24b;
}
.blue-span {
  color: #4e79f0;
}
.light-blue-span {
  color: #03b6d6;
}
.yellow-span {
  color: #e5f049;
}
.dark-yellow-span {
  color: #d4cf24;
}
.grey-span {
  color: #8d8d8d;
}
.brown-span {
  color: #d46c26;
}
.purple-span {
  color: #fa20d6;
}
.header {
  height: 6rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 30;
  background-color: rgba(60, 70, 78, 0.8);
}
.header--scrollable {
  position: fixed;
  background-image: linear-gradient(rgba(60, 70, 78, 0.8), rgba(60, 70, 78, 0.8)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../media/img/CodeBackground.jpg);
  background-size: cover;
}
.header__content {
  height: 100%;
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  font-size: 1.6rem;
  text-align: center;
  background-color: #353f47;
  color: #7d8c96;
  padding: 1rem;
}
.home-link:link,
.home-link:visited {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.header-nav ul {
  display: flex;
  list-style: none;
}
.header-nav__item:not(:last-child) {
  margin-right: 1.5rem;
}
.header-nav__link:link,
.header-nav__link:visited {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  transition: all 0.1s;
}
.header-nav__link:hover,
.header-nav__link--active {
  border-color: #4bcaff !important;
  color: #4bcaff !important;
}
.code-with-console {
  display: flex;
  min-height: 10rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #252525;
  border: 4px solid #00a1e4;
  border-radius: 4px;
}
.code-with-console__code-box {
  flex: 0 0 50%;
  border-right: 2px solid #00a1e4;
  position: relative;
  overflow-x: auto;
}
.code-with-console__code {
  height: 100%;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
}
.code-with-console__code::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.code-with-console__code::-webkit-scrollbar-track {
  background: #007db1;
}
.code-with-console__code::-webkit-scrollbar-thumb {
  background: #31c2ff;
  border-radius: 2px;
  border: 2px solid #8ddeff;
}
.code-with-console__code::-webkit-scrollbar-thumb:hover {
  background: #4bcaff;
}
.code-with-console__console {
  flex: 0 0 50%;
  border-left: 2px solid #00a1e4;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
}
.code-with-console__console::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.code-with-console__console::-webkit-scrollbar-track {
  background: #007db1;
}
.code-with-console__console::-webkit-scrollbar-thumb {
  background: #31c2ff;
  border-radius: 2px;
  border: 2px solid #8ddeff;
}
.code-with-console__console::-webkit-scrollbar-thumb:hover {
  background: #4bcaff;
}
.code-with-console__play-btn,
.code-with-console__reset-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  font-size: 1.7rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #1d2022;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s;
  outline: none;
}
.code-with-console__play-btn:active,
.code-with-console__reset-btn:active {
  transform: scale(0.95);
  box-shadow: none;
}
.code-with-console__play-btn i,
.code-with-console__reset-btn i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code-with-console__play-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  background-color: #7bff00;
  border: 2px solid #62cc00;
}
.code-with-console__play-btn:hover {
  background-color: #6fe600;
}
.code-with-console__reset-btn {
  position: absolute;
  top: 3.5rem;
  right: 0.4rem;
  background-color: #ffbb00;
  border: 2px solid #cc9600;
}
.code-with-console__reset-btn:hover {
  background-color: #e6a800;
}
.navigation {
  padding: 0.5rem;
  list-style: none;
  position: sticky;
  top: 6rem;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}
.navigation::-webkit-scrollbar {
  width: 1.4rem;
  height: 1.4rem;
}
.navigation::-webkit-scrollbar-track {
  background: #007db1;
}
.navigation::-webkit-scrollbar-thumb {
  background: #313940;
  border-radius: 4px;
  border: 2px solid #99a5ad;
}
.navigation::-webkit-scrollbar-thumb:hover {
  background: #47535c;
}
.navigation__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: block;
  font-size: 1.8rem;
  color: #fff;
  background-color: #3c464e;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 0.8rem;
  transition: all 0.1s;
}
.navigation__link:hover {
  background-color: #313940;
}
.navigation__link:active {
  background-color: #262c31;
}
.home-welcome-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../media/img/CodeBackground.jpg);
  background-size: cover;
}
.home-welcome-section__content {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article-page {
  display: flex;
  margin-top: 6rem;
  min-height: calc(100vh - 6rem - 3.9rem);
}
.article-page__nav-side {
  flex: 0 0 28rem;
  background-color: #18bbff;
  background-image: linear-gradient(to right, #0096d5, #18bbff 30%, #18bbff 70%, #0096d5);
}
.article-page__content-side {
  flex: 1;
  overflow: hidden;
}
.article-page__content {
  max-width: 170rem;
  margin: 0 auto;
  padding: 3rem;
}
