.article-page {
    display: flex;
    margin-top: 6rem;
    min-height: calc(100vh - 6rem - 3.9rem);

    &__nav-side {
        flex: 0 0 28rem;
        background-color: darken(@colors[light-blue], 10%);
        background-image: linear-gradient(to right, darken(@colors[light-blue], 23%), darken(@colors[light-blue], 10%) 30%, darken(@colors[light-blue], 10%) 70%, darken(@colors[light-blue], 23%));
    }

    &__content-side {
        flex: 1;
        overflow: hidden;
    }

    &__content {
        max-width: 170rem;
        margin: 0 auto;
        padding: 3rem;
    }
}