.home-welcome-section {
    height: 100vh;
    min-height: 55rem;
    max-height: 100rem;

    // Background
    background-image: linear-gradient(rgba(darken(@colors[grey], 30%), .7), rgba(darken(@colors[grey], 30%), .7)), url(../../media/img/CodeBackground.jpg);
    background-size: cover;
    background-position-x: center;

    position: relative;

    &__content {
        max-width: @grid-width;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        #center-pos-abs();
    }
}

.home-articles-section {
    background-color: @colors[white];

    &__content {
        max-width: @grid-width;
        width: 100%;
        margin: 0 auto;

        padding: 3rem;

        @media (max-width: #pxToEm(350)[]) {
            padding: 3rem 2rem;
        }
    }

    &__horizontal-rule {
        max-width: 10rem;
        width: 100%;
        margin: 0 auto;

        border: none;
        height: 4px;
        background-color: lighten(@colors[third-grey], 10%);
    }

    &__text {
        max-width: @grid-width - (@grid-width/6);
        width: 100%;
        margin: 0 auto;
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        #respond-phone(
            {
                grid-template-columns: 1fr;
            }
        );
    }
}