.header {
    height: 6rem;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 30;

    background-color: rgba(@colors[grey], .8);

    &--scrollable {
        position: fixed;
        background-image: linear-gradient(rgba(@colors[grey], .8), rgba(@colors[grey], .8)), linear-gradient(rgba(darken(@colors[grey], 30%), .7), rgba(darken(@colors[grey], 30%), .7)), url(../../media/img/CodeBackground.jpg);
        background-size: cover;
    }

    &__content {
        height: 100%;
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;
        padding: 0 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}